<!--The content below is only a placeholder and can be replaced.-->
<div class="timer-wrapper">
  <div class="timer-output">
    <span>{{getTimeFormat(miliSec).hr | number : '2.0-0'}}</span> :
    <span> {{getTimeFormat(miliSec).min | number : '2.0-0'}} </span> :
    <span> {{getTimeFormat(miliSec).sec | number : '2.0-0'}} </span> :
    <span> {{getTimeFormat(miliSec).mSec | number : '2.0-0'}}</span></div>
  <div class="action-wrapper">
    <button class="btn btn-primary" (click)="startTimer()">start</button>
    <button class="btn btn-primary" (click)="stopTimer()">stop</button>
    <button class="btn btn-primary" (click)="resetTimer()">reset</button>
  </div>
</div>

